/* using root for variables used throughout this css sheet */
:root {
  --main-color: brown;
  --secondary-color: rgb(250, 209, 209);
}

* {
  box-sizing: border-box;
  border: solid red 1px;
  /* all text colour to be a main colour */
  color: brown;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* header bar at the top of the page uses flex to style the whole header bar */
#header {
  display: flex;
  flex-direction: row;
  /* using the css variable rule to apply to the background colour */
  background-color: var(--main-color);
}

/* heading of my name style. width of the header */
#header h1 {
  background-color: var(--secondary-color);
  /* width of just the header's h1 i.e. my name */
  width: 30%;
  text-align: right;
  padding: 10px 2%;
}

/* onclick links, appear to the right of the header bar, width is how far to the right*/
#nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

/* space out each element of the onclick links */
#nav a {
  margin: 15px;
  padding: 10px;
  background-color: var(--secondary-color);
  text-decoration: none;
  border-radius: 20px;
  font-weight: 900;
}

/* hero banner section */
#hero-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  /* to make child elements have absolute positioning */
  position: relative;
}

/* image of myself */
#hero-banner img {
  position: relative;
  height: 20%;
  width: 20%;
  box-shadow: 12px 12px 2px 1px rgba(250, 209, 209, 0.8);
}

/* positioning of the section of the text within the hero banner */
#hero-banner div {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  padding-right: 50px; 
}

/* styling of the text within the hero banner */
#hero-banner div h2 {
  text-align: center;
  border-radius: 20px;
  padding: 5px;
  max-width: 100%;
  max-height: 100%;
  background-color: var(--secondary-color);
}

/* all the main sections are in columns and not rows */
#page-wrapper {
  display: flex;
  flex-direction: column;
}

/* each page section's heading and content is side by side */
.page-section {
  display: flex;
  margin-bottom: 30px;
}

/* has space above the about me section and before the hero section */
#about {
  margin-top: 30px;
}

/* makes all the heading elements in the main section to align to the right and has the same borders */
.page-section h2 {
  display: flex;
  justify-content: flex-end;
  /* flex basis essentially a fixed width using flexbox. it sets the initial main size of a flex item */
  flex-basis: 700px;
  border-right: solid var(--secondary-color) 4px;
  padding-right: 8px;
}

/* styling the text block of main section */
/*  note to self: removed the flex-basis property as it might've interferred with the width of the contents section */
.content {
  display: flex;
  margin: 0px 100px 0px 30px;
  width: 100%;
}

/* grid on second section */
#main-grid {
  display: grid;
  grid-template-rows: 400px 200px; 
  grid-template-columns: 1fr 1fr; 
  /* gap between the elements */
  gap: 15px;
  grid-template-areas:
  "first-project first-project"
  "second-project third-project"
  ;
  /* makes sure the grid is the same width as the content class */
  width: 100%;
}

/* assigning the grid area for the first project and repositioning the background image */
#first-project {
  grid-area: first-project; 
  background-image: url("../images/horiseon-refactoring-img.png");
  background-position: center -170px;
}

/* assigning the grid area for the second project and repositioning the background image */
#second-project {
  grid-area: second-project;
  background-image: url("../images/yvonne0711.github.io_CFG-Grub_.png");
  background-position: center -75px;
}

/* assigning the grid area for the third project and repositioning the background image */
#third-project {
  grid-area: third-project;
  background-image: url("../images/lantern-night-clouds-lights-anime-stars-42.jpg");
  background-position: center -150px;
}

/* styling of each grid area */
.grid {
  background-size: cover;
  background-repeat: no-repeat;
  margin: 2px;
  cursor: pointer;
  display: grid;
  align-content: end;
  border: solid var(--secondary-color) 5px;
  text-decoration: none;
}

/* the styling of the text in the grid areas */
.heading {
  background-color: var(--secondary-color);
  width: 30%;
  padding: 10px 1%;
  font-weight: 900;
}

/* contact section */
#contact .content {
  display: flex;
  justify-content: space-evenly;
}

/* styling the contact buttons */
#contact a {
  margin: 15px;
  padding: 10px 30px 10px 30px;
  background-color: var(--secondary-color);
  text-decoration: none;
  border-radius: 20px;
  font-weight: 900;
}

/* media queries */