/* using root for variables used throughout this css sheet */
:root {
  --main-color: brown;
}

* {
  box-sizing: border-box;
  border: solid red 1px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* header bar at the top of the page uses flex to style the whole header bar */
#header {
  display: flex;
  flex-direction: row;
  /* using the css variable rule to apply to the background colour */
  background-color: var(--main-color);
  position: sticky;
}

/* heading of my name style. width of the header */
#header h1 {
  background-color: rgb(250, 209, 209);
  /* width of just the header's h1 i.e. my name */
  width: 30%;
  color: var(--main-color);
  text-align: right;
  padding: 10px 2%;
}

/* onclick links, appear to the right of the header bar, width is how far to the right*/
#nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

/* space out each element of the onclick links */
#nav a {
  margin: 15px;
  padding: 10px;
  background-color: rgb(250, 209, 209);
  text-decoration: none;
  color: var(--main-color);
  border-radius: 20px;
  font-weight: 900;
}

/* hero banner section */
#hero-banner {
  display: flex;
  flex-direction: row;
  background-color: rgb(230, 177, 117);
}

/* figure container */
figure {
  position: relative;
  left: 30%;
}

/* image styling */
figure img {
  box-shadow: 12px 12px 2px 1px rgba(250, 209, 209, 0.8);
}


h2 {
  color: var(--main-color);
}

#hero-banner div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  margin-right: 10%;
}
#hero-banner div h2 {
  text-align: center;
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 30px;
  background-color: rgb(250, 209, 209);
}

/* media queries */